*{
    margin: 0%;
    padding: 0%;
}

h1,h2{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-weight: normal;
}

p{
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal; 
    text-align: center;
    font-size: 24px;
}

h2{
    font-size: 30px;
    text-align: center;
}

#header{
    background-color: #39ebff;
    height: 100px;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
}

#tab{
    background-color: #9f9ff4;
    width: 100%;
    padding-left: 15%;
}

td{
    height: 300px;
    width: 320px;
    border-width: 20px 50px;
    border-top-style: solid;
    border-color: #9f9ff4;
    padding: 15px;
}

.gr{
    background-color: #dcdcdc;
}

img{
    height: 200px;
    width: 300px;
}